@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
#inicio{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: relative;
    left: 50px;
    top: -35px;
    color: white;
}
#inicio:hover{
    background-color: #45a049;
    color: black;
}
#inicio:active{
    background-color: #438719;
    color: white;
}
#linha-init {
    height: 20px;
    width: 2px;
    position: relative;
    left: 120px;
    top: -58px;
    border-right: 1px solid white;
}
#cursos{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: relative;
    left: 130px;
    top: -83px;
    color: white;
}
#cursos:hover{
    background-color: #45a049;
    color: black;
}
#cursos:active{
    background-color: #438719;
    color: white;
}
#linha-cu {
    height: 20px;
    width: 2px;
    position: relative;
    left: 210px;
    top: -107px;
    border-right: 1px solid white;
}
#meusCursos{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: relative;
    left: 220px;
    top: -133px;
    color: white;
}
#meusCursos:hover{
    background-color: #45a049;
    color: black;
}
#meusCursos:active{
    background-color: #438719;
    color: white;
}
h2{
    font-family: "IBM Plex Sans", sans-serif;
    color: #446644;
    font-size: 25px;

}