@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 #titulo{
    font-family: "IBM Plex Sans", sans-serif;
    color: #446644;
    position: relative;
    left: 50px;
    top: 10px;
 }
#nomealuno{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: transparent;
    position: relative;
    left: 50px;
    width: 280px;
    height: 22px;
    border-radius: 50px;
}
#presença{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: rgb(75, 159, 55, 0.8);
    position: relative;
    left: 115px;
    top: 0px;
    border: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    height: 40px;
    width: 10%;
}
#presença:hover{
    background-color: #2D4040;
}
#presença:active{
    background-color: black;
}
#opção{
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    left: 50px;
    margin: 5px;
}